.container
  .col-md-12.no-padding
    .imagenes-page
      %h1 Noticias
  .row
    - @notices.each_slice(3) do |notices|
      -notices.each do |notice|
        .col-md-6
          .noticias-total
            = link_to notice do
              = image_tag(notice.image.url, class: "img-responsive noticias-total-imagen")
              %h3.noticias-total-titulo= notice.title
              %p.noticias-total-intro= notice.subtitle
              %p.noticias-total-calendario
                %span.fa.fa-calendar.icon-noticia
                  = notice.date
                %span.fa.fa-user.icon-noticia 
                  Mauricio Lagos
                %span.fa.fa-map-marker.icon-noticia 
                  Lago Ranco

  .row
    .col-md-12
      %nav
        %ul.pagination
          %li
            %a{"aria-label" => "Previous"}
              %span{"aria-hidden" => "true"} «
          %li
            %a 1
          %li
            %a 2
          %li
            %a 3
          %li
            %a 4
          %li
            %a 5
          %li
            %a{"aria-label" => "Next"}
              %span{"aria-hidden" => "true"} »

