.container.no-padding
  .imagen-detalle-noticia
    = image_tag(@notice.image.url, class: "img-responsive")
.container
  .titulo-detalle-noticia
    %h1= @notice.title
  .previus-detalle-noticia
    %h3= @notice.subtitle
  .autor-detalle-noticia
    %h5= @notice.created_at.to_formatted_s(:short)
  .redes-sociales-detalle-noticia.hidden
    %a.icon-button.twitter{:href => "#"}
      %i.fa.fa-twitter
      %span
    %a.icon-button.facebook{:href => "#"}
      %i.fa.fa-facebook
      %span
  .cuerpo-detalle-noticia
    %p= raw @notice.body
