.container-page
  .flayer
    .row
      .col-md-9
        = render 'slider'
      .col-md-3
        .agenda
          %h1 Agenda
          %ul
            %li 23 enero taller ciudadanía.
            %li 24 enero expo-lactea.

  .row
    .col-md-4
      .opin.color1
        .rotulo
          %h2 OPINIÓN
        .noticas
          
          %h1= "Opinión 1"
          %p= "Loren ostrum webeo chiwebeo e mauri se la come doblada xD 8===D isdajpifjaspidjfpisfjs pasojdfpsajdfpo pasojdfpjaspdjfpaosjf"
        .noticas
          
          %h1= "Opinión 1"
          %p= "Loren ostrum webeo chiwebeo e mauri se la come doblada xD 8===D isdajpifjaspidjfpisfjs pasojdfpsajdfpo pasojdfpjaspdjfpaosjf"
    .col-md-4
      .opin.color2
        .rotulo
          %h2 NOTICIAS
        .noticas
          %img{:alt => "The Last of us", :src => "assets/fullimage1.jpg"}
          %h1= "Opinión 1"
          %p= "Loren ostrum webeo chiwebeo e mauri se la come doblada xD 8===D isdajpifjaspidjfpisfjs pasojdfpsajdfpo pasojdfpjaspdjfpaosjf"

        .noticas
          %img{:alt => "The Last of us", :src => "assets/fullimage1.jpg"}
          %h1= "Opinión 1"
          %p= "Loren ostrum webeo chiwebeo e mauri se la come doblada xD 8===D isdajpifjaspidjfpisfjs pasojdfpsajdfpo pasojdfpjaspdjfpaosjf"
    .col-md-4    
      .opin.color3
        .rotulo
          %h2 INVESTIGACIONES
        .noticas
          
          %h1= "Opinión 1"
          %p= "Loren ostrum webeo chiwebeo e mauri se la come doblada xD 8===D isdajpifjaspidjfpisfjs pasojdfpsajdfpo pasojdfpjaspdjfpaosjf"
        .noticas
          
          %h1= "Opinión 1"
          %p= "Loren ostrum webeo chiwebeo e mauri se la come doblada xD 8===D isdajpifjaspidjfpisfjs pasojdfpsajdfpo pasojdfpjaspdjfpaosjf"





