.container
  .imagenes-page
    %h1 imágenes de la semana
  .gallery
    %ul
      - @fotos.each_with_index do |foto, index|
        - if index.zero?
          %li.each
            = image_tag(foto.imagen.url, class: "img-responsive")
            %span.caption
              %h2= foto.title
              %p= foto.subtitle
        - else
          %li.each
            = image_tag(foto.imagen.url, class: "img-responsive")
            %span.caption
              %h2= foto.title
              %p= foto.subtitle
      .direction
        %span.next +

    /- @fotos.each_slice(2) do |fotos|
    /  -fotos.each do |foto|
    /    .col-md-6
    /      .imagenes-fotos
    /        .imagen-muestra
    /          = image_tag(foto.imagen.url, class: "img-responsive")
    /          %h1= foto.title
    /          %p= foto.subtitle
    /          %p.noticias-total-calendario
    /            %span.fa.fa-calendar.icon-noticia
    /              = foto.created_at.to_formatted_s(:short)
  %div.hidden
    .col-md-12
      %nav
        %ul.pagination
          %li
            %a{"aria-label" => "Previous"}
              %span{"aria-hidden" => "true"} «
          %li
            %a 1
          %li
            %a 2
          %li
            %a 3
          %li
            %a 4
          %li
            %a 5
          %li
            %a{"aria-label" => "Next"}
              %span{"aria-hidden" => "true"} »
